# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Firebase
functions/node_modules/
functions/.firebase/
functions/firebase-debug.log
firebase-debug.log
.firebaserc

# Generated
lib/firebase_options.dart
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# OS
.DS_Store
